/*  your css code here. If applicable */
.box{
	width:200px;
	height:200px;
	background-color:lightblue;
	color:purple;
	background-position:center;
	border:2px solid black;
	line-height: 200px;
	text-align:center;	
}
.text{
	display:inline-block;
	vertical-align: middle;
}
	
}